@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    .navbar .navbar-collapse {
        display: inline-block;
        float: none;
        vertical-align: top;
        text-align: center;
    }
}

ul {
    list-style: none;
}
div .th_right {
    height: 437.77px;
}
#mainMap {
    height: 437.77px;
}